.experience article .topic, .topic, .learn {
  font-weight: bold;
  line-height: 21px;
  color: #00ADEE; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: #4F4F4F;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px; }

h1 {
  color: #333333;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.04em; }

h2 {
  font-size: 28px;
  line-height: 37px;
  color: #333333; }

header {
  height: 665px;
  background: #F4F6F9; }
  header .container {
    padding-top: 61px;
    padding-left: 11.32%;
    width: 37.92%; }
  header section {
    margin-top: 133px;
    margin-bottom: 50px; }
    header section p {
      width: 453px;
      font-size: 18px;
      line-height: 26px;
      max-width: 100%; }
  header .phones {
    position: absolute;
    right: 0;
    top: 0;
    width: 50.76%; }
    header .phones img {
      position: absolute; }
    header .phones img:first-child {
      right: 25.72%;
      max-width: 54.73%; }
    header .phones img:nth-child(2) {
      right: 0;
      max-width: 42.8%; }
    header .phones img:nth-child(3) {
      right: 56.77%;
      top: 201px;
      max-width: 54.73%; }
    header .phones img:nth-child(4) {
      top: 201px;
      right: 18.74%;
      max-width: 54.6%; }
    header .phones img:last-child {
      top: 201px;
      right: 0;
      max-width: 35.53%; }

.buttons {
  display: flex;
  width: 348px;
  justify-content: space-between; }
  .buttons img {
    width: 148px; }

.experience {
  display: flex; }
  .experience .football {
    height: 592px;
    display: block;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(5.16%, #fff), color-stop(67.14%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5))), url("images/Cristiano-Ronaldo.jpg");
    background-image: -webkit-linear-gradient(right, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg");
    background-image: -o-linear-gradient(right, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg");
    background-image: linear-gradient(270deg, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg");
    background-size: cover;
    background-position: center;
    width: 55.83%;
    position: relative; }
    .experience .football .notification {
      top: 18.5%;
      left: 21%;
      box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 1;
      border-radius: 4px; }
      .experience .football .notification .match {
        background: #fff;
        height: 219px;
        position: absolute;
        width: 100%; }
        .experience .football .notification .match p {
          margin-left: 16px;
          width: 123px; }
        .experience .football .notification .match p:first-of-type {
          margin-top: 27px;
          font-weight: bold;
          font-size: 16.7833px;
          line-height: 22px; }
        .experience .football .notification .match p:nth-of-type(2) {
          font-weight: 500;
          font-size: 18px;
          line-height: 20px; }
        .experience .football .notification .match p:last-of-type {
          line-height: 21px; }
        .experience .football .notification .match img {
          position: absolute;
          top: 46px; }
        .experience .football .notification .match img:first-of-type {
          left: 203px; }
        .experience .football .notification .match img:last-of-type {
          left: 261px; }
      .experience .football .notification .turn {
        height: 49px;
        background: #EEEEEE;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 0px;
        display: flex;
        justify-content: space-between; }
        .experience .football .notification .turn p {
          padding-left: 16.78px;
          font-size: 19px;
          line-height: 25px;
          margin-top: 12px;
          letter-spacing: 0.01px; }
        .experience .football .notification .turn .switch {
          position: relative;
          display: inline-block;
          width: 27.29px;
          height: 12.58px;
          border-radius: 104.896px;
          margin-top: 20.68px;
          margin-right: 26.24px; }
        .experience .football .notification .turn .switch input {
          opacity: 0;
          width: 0;
          height: 0; }
        .experience .football .notification .turn .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #979797;
          -webkit-transition: .4s;
          transition: .4s; }
        .experience .football .notification .turn .slider:before {
          position: absolute;
          content: "";
          width: 21px;
          height: 21px;
          left: -8px;
          bottom: -4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25); }
        .experience .football .notification .turn input:checked + .slider {
          background-color: #00ADEE; }
        .experience .football .notification .turn input:focus + .slider {
          box-shadow: 0 0 1px #00ADEE; }
        .experience .football .notification .turn input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px); }
        .experience .football .notification .turn .slider.round {
          border-radius: 34px; }
        .experience .football .notification .turn .slider.round:before {
          border-radius: 50%; }
    .experience .football video {
      top: 50%;
      left: 33.5%; }
  .experience .football.container div {
    border-radius: 4px; }
  .experience .football.container .notification, .experience .football.container video {
    width: 360px;
    height: 218px;
    position: absolute;
    border-radius: 4px; }
  .experience article {
    width: 44.17%;
    margin-left: -7px;
    padding-top: 133px;
    z-index: 1; }
    .experience article h2 {
      line-height: 43px;
      width: 67%; }
    .experience article p {
      width: 67%;
      margin: 27px 0px 22px; }
    .experience article p:last-of-type {
      margin-top: 22px; }
    .experience article .topic {
      text-transform: uppercase;
      margin-top: 0px; }

.topic {
  text-transform: uppercase; }

.learn {
  text-decoration: none; }

.interface {
  height: 716px;
  display: flex;
  justify-content: space-between;
  background: url("images/interface_backgound.png"); }
  .interface .container {
    padding-top: 200px;
    padding-left: 11%;
    width: 33%; }
    .interface .container p {
      width: 100%; }
    .interface .container .topic {
      margin-bottom: 28px; }
    .interface .container h2 {
      margin-bottom: 26px; }
    .interface .container p:last-of-type {
      margin-top: 23px;
      margin-bottom: 55px; }
  .interface .images {
    position: relative; }
    .interface .images img {
      position: absolute; }
    .interface .images img:first-of-type {
      top: 76px;
      right: 247px;
      width: 354px; }
    .interface .images img:nth-of-type(2) {
      top: 132px;
      right: 467px; }
    .interface .images img:nth-of-type(3) {
      top: 452px;
      right: 213px; }
    .interface .images img:last-of-type {
      top: 504px;
      right: 620px; }

.features, .features .container h2 {
  color: #fff; }

.features {
  background: #00ADEE;
  min-height: 735px; }
  .features .container {
    padding: 51px 11% 66px; }
    .features .container h2 {
      text-align: center;
      margin-bottom: 54px; }
    .features .container .feature-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .features .container .feature-items .feature-item {
        width: 28.02%;
        margin-bottom: 30px; }
        .features .container .feature-items .feature-item svg {
          margin-bottom: -10px;
          fill: #fff; }
      .features .container .feature-items .feature-item:nth-child(7), .features .container .feature-items .feature-item:nth-child(8), .features .container .feature-items .feature-item:last-child {
        margin-top: -14px; }
        .features .container .feature-items .feature-item:nth-child(7) p, .features .container .feature-items .feature-item:nth-child(8) p, .features .container .feature-items .feature-item:last-child p {
          margin-top: 10px; }

.feedbacks {
  padding-top: 43px;
  background: #FFFFFF;
  height: 391px; }
  .feedbacks h2 {
    text-align: center;
    margin-bottom: 66px; }
  .feedbacks .glider-contain {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
    height: 161px; }
    .feedbacks .glider-contain .glider-dots .glider-dot:first-child {
      background: #828282; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(2) {
      background: #979595; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(3) {
      background: #B2B0B0; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(4) {
      background: #CDCBCB; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(5) {
      background: #E2E1E1; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(6) {
      background: #EEEEEE; }
    .feedbacks .glider-contain .glider-dots .glider-dot:nth-child(7) {
      background: #F7F7F7; }
  .feedbacks .glider-contain:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, color-stop(1%, white), color-stop(5%, rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(95%, rgba(255, 255, 255, 0.5)), color-stop(99%, white));
    background: -webkit-linear-gradient(right, white 1%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 95%, white 99%);
    background: -o-linear-gradient(right, white 1%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 95%, white 99%);
    background: linear-gradient(270deg, white 1%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 95%, white 99%); }
  .feedbacks .glider-slide {
    min-height: 150px;
    margin-right: 36px;
    width: 353px;
    height: 161px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    height: 161px;
    background: url("images/twitter.png") no-repeat top 24px right 13px;
    padding: 15px 13px 24px 17px; }
    .feedbacks .glider-slide img {
      float: left;
      margin-right: 11px; }
    .feedbacks .glider-slide p:first-of-type {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      vertical-align: middle;
      margin-top: 6px; }
    .feedbacks .glider-slide p:last-of-type {
      font-size: 14px;
      line-height: 18px; }
  .feedbacks .glider {
    height: 161px; }

.references {
  height: 278px;
  background: #FAFAFA;
  letter-spacing: 0.5px; }
  .references .container {
    padding: 34px 11% 68px; }
    .references .container h2 {
      margin-bottom: 58px;
      text-align: center; }
    .references .container div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }

.score-center {
  height: 483px;
  display: flex; }
  .score-center .phones {
    width: 46.25%;
    position: relative; }
    .score-center .phones img {
      position: absolute; }
    .score-center .phones img:last-of-type {
      position: absolute;
      bottom: 0;
      max-width: 120%; }
  .score-center section {
    width: 53.75%; }
    .score-center section .container {
      max-width: 100%;
      margin: 102px 10% 102px; }
    .score-center section h2 {
      letter-spacing: 0.2px; }
    .score-center section p {
      margin-bottom: 41px;
      margin-top: 33px;
      line-height: 25px; }
    .score-center section .buttons {
      max-width: 100%; }

footer {
  height: 127px;
  background: #00ADEE;
  color: #fff; }
  footer .container {
    padding: 50px 162px 47px 163px;
    display: flex;
    justify-content: space-between; }
    footer .container .contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 745px; }
      footer .container .contact nav a {
        margin-right: 37px; }
      footer .container .contact section a {
        margin-left: 17px; }
      footer .container .contact a {
        text-decoration: none;
        color: #fff;
        font-weight: bold; }

@media (max-width: 1200px) and (min-width: 800px) {
  header .container {
    padding-left: 9%;
    width: 33%; }
    header .container .buttons {
      max-width: 100%; }

  .experience article {
    padding-left: 8%; }
    .experience article p {
      width: 80%; }

  .interface {
    background-size: 100%; }
    .interface .images img:first-of-type {
      right: 119px; }
    .interface .images img:nth-of-type(2) {
      right: 363px; }
    .interface .images img:nth-of-type(3) {
      right: 98px; }
    .interface .images img:last-of-type {
      right: 430px; }

  .feedbacks .glider-dots .glider-dot:nth-child(8),
  .feedbacks .glider-dots .glider-dot:nth-child(9) {
    display: none; }

  .score-center section .container {
    max-width: 100%;
    margin: 82px 20% 102px; } }
@media (max-width: 800px) {
  .interface .container, .features .container, .feedbacks .glider-contain, footer .container {
    width: 88.89%;
    margin: 0 auto; }

  body {
    text-align: center; }

  header {
    height: 524px; }
    header .phones {
      display: none; }
    header .container {
      width: 88.89%;
      margin: 0 auto;
      padding: 70px 0 59px; }
      header .container section {
        margin-top: 86px; }
        header .container section p {
          width: 100%; }
    header .buttons {
      width: 60%;
      margin: 0 auto; }
    header .logo img {
      display: block;
      margin: 0 auto; }
    header h1 {
      font-size: 30px;
      line-height: 40px; }

  .experience {
    flex-direction: column-reverse; }
    .experience .football.container {
      width: 100%;
      height: 388px;
      display: block;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5.16%, #fff), color-stop(67.14%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5))), url("images/Cristiano-Ronaldo.jpg");
      background-image: -webkit-linear-gradient(top, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg");
      background-image: -o-linear-gradient(top, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg");
      background-image: linear-gradient(to bottom, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5)), url("images/Cristiano-Ronaldo.jpg"); }
      .experience .football.container .notification, .experience .football.container video {
        max-width: 69%;
        height: 150px; }
      .experience .football.container .notification {
        top: 70px;
        left: 5.26%;
        height: 150px;
        width: 253px; }
        .experience .football.container .notification .match {
          height: auto;
          text-align: left;
          min-height: 73%; }
          .experience .football.container .notification .match img {
            width: 23.32%;
            top: 24%; }
          .experience .football.container .notification .match img:first-of-type {
            right: 23%;
            left: auto;
            width: 20%; }
          .experience .football.container .notification .match img:last-of-type {
            right: 4%;
            left: auto; }
          .experience .football.container .notification .match p {
            width: 35%; }
          .experience .football.container .notification .match p:first-of-type {
            font-size: 11.5px;
            line-height: 15px;
            margin-top: 15px; }
          .experience .football.container .notification .match p:nth-of-type(2) {
            font-size: 12.35px;
            line-height: 16px;
            margin-top: 0px; }
          .experience .football.container .notification .match p:last-of-type {
            font-size: 11px;
            line-height: 14px; }
        .experience .football.container .notification .turn {
          height: 40px; }
          .experience .football.container .notification .turn p {
            font-size: 13px;
            line-height: 17px;
            padding-left: 5%; }
          .experience .football.container .notification .turn .switch {
            margin-top: 6%;
            margin-right: 6%; }
      .experience .football.container video {
        height: 150px;
        top: 198px;
        right: 5.26%;
        left: auto;
        width: 253px; }
    .experience article {
      padding-top: 54px;
      padding-bottom: 22px;
      width: 88.89%;
      margin: 0 auto; }
      .experience article h2 {
        line-height: 37px;
        width: 100%; }
      .experience article p {
        width: 100%;
        max-width: 100%; }

  .interface {
    flex-direction: column;
    height: auto;
    background: #fff; }
    .interface .container {
      padding: 43px 0 0 0;
      background: #fff; }
      .interface .container p {
        max-width: 100%;
        width: 100%; }
      .interface .container p:last-of-type {
        margin-top: 23px;
        margin-bottom: 25px; }
    .interface .images {
      background: url("images/interface_backgound2.png");
      background-size: 100%;
      min-height: 565px; }
      .interface .images img:first-of-type {
        margin-top: 20%;
        max-width: 78%;
        position: unset; }
      .interface .images img:nth-of-type(2) {
        top: 20%;
        left: 10%;
        width: 20%; }
      .interface .images img:nth-of-type(3) {
        width: 20%;
        top: 353px;
        top: 60%;
        right: 5%; }
      .interface .images img:last-of-type {
        display: none; }

  .features {
    background: #FAFAFA;
    color: #4F4F4F;
    height: auto; }
    .features .container {
      padding: 47px 0 0 0; }
      .features .container h2 {
        color: #333333; }
      .features .container .feature-items .feature-item {
        width: 100%;
        margin-bottom: 34px; }
        .features .container .feature-items .feature-item svg {
          fill: #00ADEE; }
      .features .container .feature-items .feature-item:nth-child(7),
      .features .container .feature-items .feature-item:nth-child(8),
      .features .container .feature-items .feature-item:last-child {
        margin-top: 0; }
      .features .container .feature-items .feature-item:last-child {
        padding-bottom: 28px; }

  .feedbacks {
    padding-top: 25px; }
    .feedbacks h2 {
      margin-bottom: 38px; }
    .feedbacks .glider-prev,
    .feedbacks .glider-next {
      display: none; }
    .feedbacks .glider-contain .glider-slide {
      min-width: 42vw;
      margin-right: 5vw; }
    .feedbacks .glider-contain:after {
      display: none; }
    .feedbacks .glider-dots {
      margin-top: 28px; }
      .feedbacks .glider-dots .glider-dot:first-child {
        background: #828282; }
      .feedbacks .glider-dots .glider-dot:nth-child(2) {
        background: #979595; }
      .feedbacks .glider-dots .glider-dot:nth-child(3) {
        background: #B2B0B0; }
      .feedbacks .glider-dots .glider-dot:nth-child(4) {
        background: #CDCBCB; }
      .feedbacks .glider-dots .glider-dot:nth-child(5) {
        background: #E2E1E1; }
      .feedbacks .glider-dots .glider-dot:nth-child(6) {
        background: #EEEEEE; }
      .feedbacks .glider-dots .glider-dot:nth-child(7) {
        background: #F7F7F7; }
      .feedbacks .glider-dots .glider-dot:nth-child(8),
      .feedbacks .glider-dots .glider-dot:nth-child(9),
      .feedbacks .glider-dots .glider-dot:nth-child(10),
      .feedbacks .glider-dots .glider-dot:nth-child(11),
      .feedbacks .glider-dots .glider-dot:nth-child(12),
      .feedbacks .glider-dots .glider-dot:nth-child(13),
      .feedbacks .glider-dots .glider-dot:nth-child(14),
      .feedbacks .glider-dots .glider-dot:nth-child(15),
      .feedbacks .glider-dots .glider-dot:nth-child(16),
      .feedbacks .glider-dots .glider-dot:nth-child(17),
      .feedbacks .glider-dots .glider-dot:nth-child(18),
      .feedbacks .glider-dots .glider-dot:nth-child(19),
      .feedbacks .glider-dots .glider-dot:nth-child(20),
      .feedbacks .glider-dots .glider-dot:nth-child(21),
      .feedbacks .glider-dots .glider-dot:nth-child(22),
      .feedbacks .glider-dots .glider-dot:nth-child(23) {
        display: none; }

  .references {
    min-height: 310px;
    padding: 18px 5% 0; }
    .references .container {
      padding: 0; }
      .references .container h2 {
        margin-bottom: 43px; }
      .references .container img {
        margin-bottom: 29px;
        margin-right: 5%;
        margin-left: 5%; }

  .score-center {
    height: auto;
    flex-direction: column-reverse; }
    .score-center .phones {
      height: 261px;
      width: 100%;
      margin-top: 9px; }
      .score-center .phones img {
        left: 0;
        height: 100%;
        max-width: 100%; }
      .score-center .phones img:last-of-type {
        max-width: 100%; }
    .score-center section {
      height: auto;
      width: 100%;
      padding-bottom: 20px; }
      .score-center section .container {
        width: 89%;
        margin: 0 auto;
        max-width: 100%; }
        .score-center section .container h2 {
          margin-bottom: 14px; }
        .score-center section .container p {
          margin-top: 14px; }
        .score-center section .container .buttons {
          width: 60%;
          margin: 0 auto; }

  footer {
    height: 210px; }
    footer .container {
      padding: 0;
      flex-direction: column;
      padding-top: 41px;
      align-items: flex-start; }
      footer .container .contact {
        width: 100%;
        margin: 11px auto 0;
        flex-direction: column-reverse;
        align-items: flex-start; }
        footer .container .contact nav {
          margin-top: 27px;
          display: flex;
          justify-content: space-between;
          width: 100%; }
          footer .container .contact nav a {
            margin: 0; }
        footer .container .contact section a {
          margin-left: 0;
          margin-right: 10px; } }
@media (max-width: 600px) {
  header .container {
    padding: 32px 0 59px; }
  header .buttons {
    width: 100%;
    margin: 0 auto; }

  .interface .images img:nth-of-type(2),
  .interface .images img:nth-of-type(3) {
    width: 27%; }

  .feedbacks .glider-contain .glider-slide {
    min-width: 88.9vw; }

  .references {
    min-height: 369px; }
    .references .container img:last-child {
      margin: auto; }
    .references .container img {
      margin-left: 4%; }

  .score-center {
    height: 703px; }
    .score-center section {
      height: 435px;
      padding-bottom: 0; }
      .score-center section .container .buttons {
        width: 100%; } }
